<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style_forms.css') }}">
  <title>University Portal</title>
</head>
<body id="homeBody">

  <!-- Page Title -->
  <div id="homepageText">
    <h1>UC Merced</h1>
    <h2>Select Login</h2>
  </div>

  <!-- Buttons for login -->
  <a href="{{ url_for('student_login') }}">
    <button class="role-button" id="studentloginButton">Student Login</button>
  </a>
  <a href="{{ url_for('teacher_login') }}">
    <button class="role-button" id="teacherloginButton">Teacher Login</button>
  </a>
  <a href="{{ url_for('admin_login') }}">
    <button class="role-button" id="adminloginButton">Admin Login</button>
  </a>

</body>
</html>
