<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_courses.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <title>Your Course</title>
</head>
<body id="teacherCourseBody">
    
    <!-- Header -->
    <div class="university-header">
        <div class="welcome">Welcome {{ teacher_name }}!</div>
            <h1>UC Merced</h1>
        <div class="signout">
            <a href="{{ url_for('home') }}">Sign out</a>
        </div>
    </div>
    
    <!-- Ribbon -->
    <div class="menu">
        <div class="items">{{course.id}}: {{ course.name }}</div>
    </div>


    <!-- Container -->
    <div class="student_list">
        <thead> 
            <tr>
                <th> Student Name </th>
                <th> Grade </th>
            </tr>
            <tbody> 
                {% for student in students %}
                <tr>
                    <td>{{ student.name }}</td>
                    <td>
                        <form method="POST" action="{{ url_for('update_grade', student_id=student.id) }}">
                            <input type="text" name="grade" value="{{ student.grade }}" 
                                   onkeydown="if(event.key === 'Enter') { this.form.submit(); return false; }">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </thead>
    </div>
    


</body>
</html>